@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --avatar-size: 10rem;
  --level-graph-size: 10rem;
  --def-margin: 0.5rem;
  --basics-width: calc(var(--avatar-size) + calc(var(--def-margin)));

  --background-color: #4CAF50;
  --background-color-boxes: white;
  --input-field-background-color: white;
  --font-color-1: white;
  --font-color-2: #4CAF50;
  --border: 1px solid #429945;
  --border-2: 1rem ridge rgb(2, 204, 93);
  --border-3: 2px dashed rgba(66, 153, 69, 0.603);
  --text-color-2: #409443;
  --navbar-height: clamp(2rem, 4vw + 1rem, 20rem);
  --title-height: clamp(4rem, 4vw + 1rem, 20rem);
  --page-height: calc(100vh - var(--navbar-height) - 78px);

  --fs-xl: clamp(1rem, 2vw + 1rem, 10rem);
  --fs-600: clamp(2rem, 2vw + 1rem, 4rem);
  --fs-400: 1.5rem;
  --fs-300: 1.25rem;
  --fs-200: 1rem;
  /* --fs-btn: clamp(1rem, 1vw + 1rem, 20rem); */
  --fs-btn: clamp(1rem, 1vw + 1rem, 10rem);

  --box-shadow-1: 0 5px 5px rgba(0, 0, 0, 0.4);
  --box-shadow-2: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

body {
  background-image: radial-gradient(white, #b5b5b5);
  display: flex;
  flex-direction: column;
  align-content: center;
  height: -webkit-fill-available;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  display: flex;
  height: -webkit-fill-available;
}

#page-heading {
  display: flex;
  width: 100%;
  justify-content: center;
}

#page-title {
  display: flex;
  color: white;
  height: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: var(--fs-xl);
}

#main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* Search */

.search-container {
  display: flex;
  width: 90%;
  margin: 0 5%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

#user-search {
  display: flex;
  width: 90%;
  padding: 0.1rem 0.2rem;
  font-size: var(--fs-400);
  border: var(--border);
  background-color: #e5e5e5;
}

#search-button {
  display: flex;
  width: 7%;
  align-content: center;
  justify-content: center;
  border: var(--border);
  background-color: var(--background-color);
}

/* Display */

.container {
  display: flex;
  flex-grow: 0;
  margin: 0 var(--def-margin) var(--def-margin) var(--def-margin);
}

.graph-container {
  display: flex;
  flex-grow: 1;
}

.graph-placeholder {
  display: flex;
  flex-grow: 1;
}

.graph {
  width: 90%;
}

.point {
  cursor: pointer;
}

#display {
  display: flex;
  background-color: #e5e5e5;
  flex-direction: column;
  border: var(--border);
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  width: 90%;
  margin: 5% 5% 2% 5%;
}

#username {
  text-align: center;
  font-size: var(--fs-400);
  font-weight: bold;
  border-bottom: var(--border-3);
  margin: 0 var(--def-margin) var(--def-margin) var(--def-margin);
}

#information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#basics {
  display: flex;
  flex-direction: column;
  width: var(--basics-width);
}

#avatar {
  display: flex;
  width: var(--avatar-size);
  height: var(--avatar-size);
  align-self: center;
  border: var(--border-3);
  border-radius: 50%;
}

#statistics-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#statistics {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}

#main-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#main-stats-tbody>*,
#audit-ratio-label>p {
  font-size: var(--fs-300);
}

#audit-box {
  display: flex;
  flex-direction: row;
}

#audit-ratio-label {
  display: flex;
  flex-direction: column;
}

#audit-ratio {
  display: flex;
  align-items: center;
  font-size: var(--fs-600);
  margin-left: var(--def-margin);
}

#audit-scores {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
}

.audit-xp {
  display: flex;
  width: 3rem;
  align-items: center;
}

#level-graph-container {
  display: flex;
  width: var(--avatar-size);
  height: var(--avatar-size);
  align-self: center;
  align-items: center;
  border: var(--border-3);
  border-radius: 50%;
}

#level-graph {
  height: var(--level-graph-size);
  width: var(--level-graph-size);
}